/* FONTES */

/* CORES */

/* BODY */
body {
  font-family: montserrat;
}

/* HEADER DO SITE */
.header {
  height: 80px;
  width: 100%;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.header .h-container {
  width: 1048px;
  margin: 0 auto;
}

.h-nav-bar .header__logo {
  width: 15%;
  margin-right: 5%;
}

.h-nav-bar .h-list {
  display: flex;
  width: 70%;
  flex-grow: 1;
}

.h-nav-bar .h-list__item a {
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 10px;
  text-decoration: none;
}

.h-nav-bar .h-list__item a:hover {
  border: 1px solid white;
  transition: .5s;
}

.h-container .h-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

/* MAIN DO SITE*/

/* FOOTER */

/* MEDIA QUERY */
